body
{
   background-color: #FFFFFF;
   color: #000000;
}
@font-face
{
   font-family: Calibri;
   src: url('calibri.eot');
   src: url('calibri.eot?iefix') format('embedded-opentype'),
        url('calibri.ttf') format('truetype');
}
a
{
   color: #C8D7EB;
   text-decoration: underline;
        list-style:none;
  list-style-type: none;
  text-overflow:ellipsis;
  outline:none;
}
a:visited
{
        list-style:none;
  list-style-type: none;
  text-overflow:ellipsis;
  outline:none;color: #C8D7EB;
}
a:active
{
   color: #C8D7EB;
        list-style:none;
  list-style-type: none;
  text-overflow:ellipsis;
  outline:none;
}
a:hover
{
     list-style:none;
  list-style-type: none;
  text-overflow:ellipsis;
  outline:none;
   color: #376BAD;
   text-decoration: underline;
}
li
{
  list-style:none;
  overflow:visible;
  list-style-type: none;
  outline:none;
  text-overflow:ellipsis;
}
ul
{
  list-style:none;
  list-style-type: none;
  text-overflow:ellipsis;
  outline:none;
}
#wb_CssMenu1 a
{
text-overflow:ellipsis;
outline:none;
white-space:nowrap;
   display: block;
   margin: 0px 0px 0px 0px;
   color: #FFFFFF;
   border: 1px #DD0000 solid;
   background-color: #AA0000;
   background: -moz-linear-gradient(bottom,#AA0000 0%,#FA1E12 100%);
   background: -webkit-linear-gradient(bottom,#AA0000 0%,#FA1E12 100%);
   background: -o-linear-gradient(bottom,#AA0000 0%,#FA1E12 100%);
   background: -ms-linear-gradient(bottom,#AA0000 0%,#FA1E12 100%);
   background: linear-gradient(bottom,#AA0000 0%,#FA1E12 100%);
   font-family: Calibri;
   list-style:none;
   font-size: 16px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   width: 30%;
   padding:5%;
   vertical-align: top;
   line-height: 5%;
   text-align: left;
}
#wb_CssMenu1 a:hover
{
   color: #FFFFFF;
   background-color: #151717;
   background: -moz-linear-gradient(bottom,#151717 0%,#3F494E 100%);
   background: -webkit-linear-gradient(bottom,#151717 0%,#3F494E 100%);
   background: -o-linear-gradient(bottom,#151717 0%,#3F494E 100%);
   background: -ms-linear-gradient(bottom,#151717 0%,#3F494E 100%);
   background: linear-gradient(bottom,#151717 0%,#3F494E 100%);
   border: 1px #282828 solid;
}
#Button1
{
   border: 1px #B60C0C groove;
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   border-radius: 20px;
   background-color: #B40C0C;
   background: -moz-linear-gradient(bottom,#B40C0C 0%,#F02626 100%);
   background: -webkit-linear-gradient(bottom,#B40C0C 0%,#F02626 100%);
   background: -o-linear-gradient(bottom,#B40C0C 0%,#F02626 100%);
   background: -ms-linear-gradient(bottom,#B40C0C 0%,#F02626 100%);
   background: linear-gradient(bottom,#B40C0C 0%,#F02626 100%);
   color: #FFFFFF;
   font-family: Calibri;
   font-weight: bold;
   font-size: 15px;
}
#wb_CssMenu1
{
   position: absolute;
   top:8%;
   left: 0px;
   width: 816px;
   height: 60px;
   text-align: center;
   z-index: 0;
}
#Button1
{
   padding:10px;
   margin:10px 5px;
   z-index: 2;
     list-style:none;
  list-style-type: none;
  text-overflow:ellipsis;
  outline:none;
}
#wb_Shape1
{
   position: fixed;
   background-color:black;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 8%;
   z-index: 1;
}
